@page
@using Razor_Pages_Tutorial.Pages
@model HelloWorldModel
@{
}

<h1> Razor Tags Examples</h1>
<p>Hello, world!</p>
<p>The time on the server is @DateTime.Now</p>


<h2>Separate page model</h2>
<p>
    @Model.Message
</p>